
# Dependencies
node_modules
.npmrc.publish


# Build output
dist
build

# Environment variables
.env
.env.local
.env.*.local

# IDEs and Editors
.vscode
.idea
*.swp
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
test/generated


